* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
}
button {
    background: none;
    cursor: pointer;
    border: none;
}
ul,olP{
    list-style: none;
}
body {
    background-color: black;
    font-family: var(--font-family-sans);
}
body * {
    color: white;
}
/* button {
    background-color:  var(--color-primary-100);
    font-weight: var(--font-weight-semibold);
} */