body {
  background-color: black;
}

body * {
  color: white;
  font-family: var(--font-family-sans);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-7xl);
}

header h2 {
  font-size: var(--text-display-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--text-display-xs-line-height);
}

nav.mobile {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

nav.mobile ul li a {
  justify-content: start;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

nav ul li a {
  height: 2.25rem;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--text-sm-line-height);
}

a.contact {
  background-color: var(--color-primary-100);
  height: var(--spacing-6xl);
  font-size: var(--text-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--text-sm--line-height);
  border-radius: var(--radius-full);
}

.overlay,
header nav.desktop,
header button.close-menu,
header > a.contact,
nav.mobile {
  display: none;
}

.overlay.active {
  display: block;
}

@media (min-width: 1024px) {
  header h2 {
    width: 10rem;
    text-align: center;
  }

  header nav.desktop, header > a.contact {
    display: flex;
  }

  nav ul {
    flex-direction: row;
    gap: var(--spacing-lg);
  }

  nav ul li a {
    height: 2.25rem;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--text-sm-line-height);
    padding-inline: var(--spacing-xl);
  }

  nav.mobile,
  header button.close-menu,
  header button.hamburger-menu {
    display: none !important;
  }
}
