/* reusable classes */
.custom-container-xl {
  margin: 0 auto;
  max-width: calc(1440px - 280px + 32px);
  padding-inline: var(--spacing-xl);
}

.custom-container-2xl {
  margin: 0 auto;
  max-width: calc(1440px - 280px);
  padding-inline: var(--spacing-xl);
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
}

.fixed-container {
  position: fixed;
  top: 0;
  width: 100%;
}
